
// colours
$color-primary:  #777;
$color-primary-light: rgba(31, 29, 29, 0.8);
$color-primary-dark:  rgba(31, 29, 29, 0.8);

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7d2;
$color-grey-dark:  #777;

$color-toolbox-1: #1c2d3c;
$color-toolbox-2: #faebd7;
$color-toolbox-3: #262b31;

$color-white-gold: rgb(250, 235, 215);
$color-rose-gold: #f5e1da;
$color-logo-background: #262b31;
$color-hover-backdrop: rgba(0, 0, 0, 0.5); 


$color-social-link: rgba(64, 166, 151, 0.639);

//font

$default-font-size: 1.4rem;
$default-mobile-font-size: 1.6rem;
$default-mobile-font-heading-size: 2rem;

//grid

$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
