@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem); /* animate from the x direction */
	}

	/* 80% {
		transform: translate(14rem);
	} */

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem); /* animate from the x direction */
	}

	80% {

	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}


@keyframes moveUp {
	0% {
		opacity: 0;
		transform: translateY(10rem); /* animate from the x direction */
	}


	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes fadeOut {
    from { transform: scale(1); }
    65%  { transform: scale(1.1); }
    to   { transform: scale(1); }  
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}