.tool-box {
    // clip-path: polygon(100% 0, 100% 0%, 100% 75vh, 50% 100%, 0% 75vh, 0% 85%, 0 0);
    background-color: $color-toolbox-1;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba( #000000, .15);
    z-index: 20;

    .checked {
        color: $color-rose-gold;
    }

    @include respond(tab-port){
        margin-top: 9rem;
    }

    &__icon {
        display: inline-block;
        background-image: linear-gradient(to right, rgba(130, 94, 38, 0.9), rgba(102, 142, 271, 0.9));
        -webkit-background-clip: text;
        color: transparent;
        font-size: 6rem;
        margin-bottom: .6rem;
    }

    &__text {
        //color: $color-grey-light-1;
        ul {
        
            list-style-type: none;
          
            
        }
        list-style: none;
    }

    @include floating



}


.badge {
     
    &--p1 {
        @include adjusting_austronauts;
        img {
            @include respond(tab-port){
                width: 30%;
                margin-top: .8rem;
            }
        }
        //background-image:  url(../img/front-end.png);
        @include floating;
        // margin-left: 11rem;
        // margin-top: -13px;
        margin: -.8rem 0 0 6.5rem;
    }
    &--p2 {
        @include adjusting_austronauts;
       
        //background-image: url(../img/back-end.png);
        margin-top: -20.4rem;

        img {
            @include respond(tab-port){
                width: 24%;
                margin-top: 6rem;
            }
        }
    }
    &--p3 {
        @include adjusting_austronauts;
        //background-image:  url(../img/tools.png);
        margin-top: -18.4rem;

        img {
            @include respond(tab-port){
                width: 30%;
                margin-top: 5rem;
            }
        }
        
    }
}